.menu-container {
  width: 130px;
  background: #f0f0f0;
  font-size: 20px;
}

.menu-toggler {
  padding: 5px;
}

.menu {
  background: #f0f0f0;
  padding: 10px;
}

.menu-item {
  color: #1B84FF;
  cursor: pointer;
  padding: 5px 0;
  transition: color 0.3s;
}

.menu-item:hover {
  color: #1B84FF;
  text-decoration: underline;
}


img {
  width: 20px;
  height: 20px;
}
.dropdown-up {
  transform: translateY(-130%);
}


